#glowny-episodes{
    padding: 2em;
    gap: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.episodes{
    width: 30%;
    font-family: $font-1;
    text-align: center;
    box-shadow: 0 0px 15px 0 rgba(255, 255, 255, 0.446), 0 0px 15px 0 rgba(255, 255, 255, 0.446);
}